<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

<style>
    body {
        display: grid;
        background-image: url("assets/code.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }

    h1 {
        padding-top: 300px;
        margin: auto;
        text-shadow: 5px 3px #2b4a47;
        color: darkcyan;
        text-align: center;
        vertical-align: middle;
        font-size: 112pt;
        font-family: Go Mono for Powerline;
    }
</style>
</head>

<body>
<h1>{{.Title}}</h1>
</body>
</html>